<!DOCTYPE html>
<html>

<head>
    <%include ./partials/head.ejs%>
</head>

<body>
    <nav>
        <%include ./partials/nav.ejs%>
    </nav>
    <div class="container">
        <h2>Buy some stuff. Unfortunately we don't have mongoose in stock today.</h2>
        <div class="records">
            <% music.forEach( function (record) { %>
            <div class="card">
                <h5> <%= music.name  %></h5>
                <a href="/music/<%=music.id%>">
                    <img src="<%= music.img %>" alt="An image of <%= music.name %>" /></a>
                <h6>Price: $<%=music.price %></h6>
            </div>
            <% }); %>
        </div>
    </div>

</body>

</html>