<!DOCTYPE html>
<html>

<head>
    <%include ./partials/head.ejs%>
</head>

<body>


    <nav>
        <%include ./partials/nav.ejs%>
    </nav>
    <br>
    <br>
    <div class="container">

        <h2>Buy some stuff. We don't carry the Beatles. Ever.</h2>

        <div class="records">
            <% Records.forEach( function (Records) { %>

            <div class="card">

                <p> <%= Records.name%> - <%=Records.albumTitle  %></p>

                <a href="/music/<%=Records.id%>">
                    <img src="<%= Records.img %>" alt="An image of <%= Records.name %>" /></a>
                <h6>Price: $<%=Records.price %></h6>
            </div>

            <% }); %>
        </div>
    </div>


</body>

</html>