<!DOCTYPE html>
<html>

<head>
    <%include ./partials/head.ejs%>
</head>

<body>
    <nav>
        <%include ./partials/nav.ejs%>
    </nav>
    <br>
    <br>
    <div class="container">
        <h2>WOW this <%=Records.name%> record is only $<%=Records.price%>! What a steal! You should buy it.</h2>
        <div class="jumbo">
            <h3> <%= Records.name  %> - <%=Records.albumTitle%></h3>
            <img src="<%= Records.img %>" alt="An image of <%= Records.name %>" class="jumbo-img" />
            <p><%=Records.description %></p>
            <% if (Records.qty <= 0) { %>
            <h4 class="out-of-stock"> OUT OF STOCK </h4>
            <% } else   { %>
            <h6>Only <%= Records.qty %> remaining</h6>
            <form action="/music/<%=Records.id%>/buy?_method=put" method="POST">
                <button class="buy-button">Buy</button>
            </form>
            <h4>Asking price: $<%=Records.price %></h4>
            <% } %>
        </div>
        <div class="admin-actions">
            <a href="/music/<%=Records.id%>/edit"><button type="button" name="button"
                    class="edit-button">Edit</button></a>
            <form action="/music/<%=Records.id%>?_method=DELETE" method="POST">
                <button class="delete-button">DELETE</button>
            </form>
        </div>
    </div>
</body>

</html>